* {
    padding: 0;
    margin: 0;
}

div {
    padding: 5px;
    margin: 5px;
}

body {
    background-color: rgb(216, 240, 201);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(32, 50, 82);
}

button {
    background-color: darkslategray;
    color: white;
    border-radius: 5px;
    padding: 3px;
}

select {
    background-color: darkslategray;
    color: white;
    border-radius: 5px;
    margin: 5px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-column {
    flex-direction: column;
}

.justify-left {
    justify-content: left;
}

.favourite-img {
    height: 100px;
    width: 100px;
    object-fit: cover;
    margin: 5px;
}

.options{
    margin-top: 10px;
    margin-left: 10px;
}

#generator-div {
    min-height: 600px;
}

#image {
    max-height: 500px;
    min-height: 500px;
}