/* * {
    padding: 0;
    margin: 0;
} */

body {
    background-color: rgb(216, 240, 201);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(32, 50, 82);
}

button {
    background-color: darkslategray;
    color: white;
    border-radius: 5px;
}

select {
    background-color: darkslategray;
    color: white;
    border-radius: 5px;
    margin: 5px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-column {
    flex-direction: column;
}

.justify-left {
    justify-content: left;
}

#generator-div {
    min-height: 600px;
}